@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h2>Ready to leave with your new best friend?!?!?</h2>

@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
@using (Html.BeginForm())
{
    <input type="submit" value="adopt" />
}
@Html.ActionLink("Back to List", "Index")